<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

##### Add your code below following the instructions given in the course

# **Data Science Tools and Ecosystem**

### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**

* List popular languages for Data Science
* Popular Languages
* Common Libraries
* unordered list
* Arithmatic Expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. GGplot2

### Data Science tools

| Data Science tools |
|------|
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

#### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

x = 200
hours = x/60
print(f"{x} mins is {hours:.3f} hours.")

200 mins is 3.333 hours.

## Author
Antonio Fern√°ndez Salcedo